// Backgrounds
$bckgrd-clr-primary: #108554;
$bkgrd-clr-secondary: #126945;

// Input
$input-bkgrd-clr: #11563A;
$input-brd-clr: #03301F;
$input-txt-clr: #DAFEEF;

// Tipografia
$txt-clr: #B8FADD;

// Highlight
$highlight: #B8FADD;